/* ==========Choose Your Destination========== */
.travel_destinations {
  text-align: center;
}

.travel_destinations .container {
  max-width: 1200px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.travel_destinations .information p {
  margin: 24px 0 48px 0;
}

.images-layout .first-row {
  display: grid;
  grid-template-columns: 1fr 1.7fr 2.4fr;
  column-gap: 10px;
  margin-bottom: 24px;
}

.images-layout .second-row {
  display: grid;
  grid-template-columns: 2.4fr 1.7fr 1fr;
  column-gap: 24px;
  margin-bottom: 24px;
}

.images-layout img {
  width: 100%;
  height: 250px;
}

.images-layout .first-row .column-first,
.images-layout .first-row .column-second,
.images-layout .first-row .column-third,
.images-layout .second-row .column-first,
.images-layout .second-row .north,
.images-layout .second-row .column-third {
  position: relative;
}

.column-first .images-title,
.column-second .images-title,
.column-first .images-title,
.column-second.images-title,
.column-third .images-title,
.column-third .images-title,
.band .images-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

/* ==============Responsive classes============== */
/* Responsive: start 320px end: 1368px  */

@media screen and (min-width: 320px) and (max-width: 576px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.35rem;
  }

  h3 {
    font-size: 1.85rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.35rem;
  }

  h6 {
    font-size: 1.15rem;
  }

  p {
    font-size: 1rem;
  }

  .images-layout img {
    width: 100%;
    height: 200px;
  }

  .images-layout .first-row {
    row-gap: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr;
  }

  .images-layout .second-row {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    row-gap: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  h4 {
    font-size: 1.65rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .images-layout img {
    width: 100%;
    height: 300px;
  }

  .images-layout .first-row {
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-bottom: 10px;
  }

  .images-layout .second-row {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 2.9rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  h4 {
    font-size: 1.65rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.15rem;
  }

  p {
    font-size: 1rem;
  }

  .images-layout img {
    width: 100%;
    height: 250px;
  }

  .images-layout .second-row,
  .images-layout .first-row {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.45rem;
  }

  h3 {
    font-size: 1.95rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.45rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .images-layout img {
    width: 100%;
    height: 250px;
  }

  .images-layout .second-row,
  .images-layout .first-row {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {}